html * {
    font-family: 'Noto Sans TC', 'Microsoft JhengHei';
}

#navbar-links {
    font-weight: 100;
    background-image: linear-gradient(to right, transparent , rgba(0,0,0,1));
    /* background:red; */
}

.hero {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

#about {
    background-image: url('../img/spice.jpg');
    background-size: cover;
}

#menu-tab {
    /* background: #fff; */
    border-bottom: 1px solid #f2f2f2;
    cursor: pointer;
    /* display: inline-block; */
    /* height: 40px; */
    margin: 0 -2px;
    padding: 0 28px;
    position: relative;
    /* top: 1px; */
    /* color: #353031; */
    /* font-weight: 700; */
    /* text-transform: uppercase; */
    /* font-size: 13px; */
}

#menu-tab > a {
    color: #fff;
    text-decoration: none;
}

button.navbar-toggler {
    outline: none !important;
    box-shadow: none !important;
	border: none !important;
}

.carousel-item > img:first-child {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.9);
}

.carousel-caption {
    bottom: 200px;
}

/* custom color block */
.ps-bg-dark {
    background: #21212199 !important;
}

.ps-dark {
    background: #222 !important;
}

.ps-bg-light {
    background: #e3e3e3ee !important;
}

.font-weight-lightest {
    font-weight: 100 !important;
}

.rounded-corner {
    border-radius: 1.5rem !important;
}

.shadow-heavy {
    box-shadow: 0.3rem 0.5rem 1rem rgba(0, 0, 0, 0.5) !important;
}
