html * {
    font-family: 'Noto Serif TC', 'Microsoft JhengHei';
}

#navbar-links {
    font-weight: 100;
}

#menu {
    background-image: url('../img/alcohol-bar-beer-1283219---Canva%20Photos.jpg');
}

.hero {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

#menu-tab {
    /* background: #fff; */
    border-bottom: 1px solid #f2f2f2;
    cursor: pointer;
    /* display: inline-block; */
    /* height: 40px; */
    margin: 0 -2px;
    padding: 0 28px;
    position: relative;
    /* top: 1px; */
    /* color: #353031; */
    /* font-weight: 700; */
    /* text-transform: uppercase; */
    /* font-size: 13px; */
}
#menu-tab > a {
    color: #fff;
    text-decoration: none;
}

/* button {
	border: none !important;
} */

button.navbar-toggler {
    outline: none !important;
    box-shadow: none !important;
	border: none !important;
}

.carousel-item > img:first-child {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.9);
}

/* .background {
	filter: blur(10px);
	position: absolute;
	width: 100vw;
	height: 100vh;
} */
